name: Test

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v5

      - name: Run Action
        uses: ./
        id: action-step
        with:
          who-to-greet: 'Lean'

      - name: assert output
        if: steps.action-step.outputs.who-was-greeted != 'Lean-san'
        run: exit 1
